footer.site-footer {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.75;
    // width: 220px;
    // text-align: center;
    // margin-top: var(--section-separation);
    // text-align: center;
    
    // &:before {
    //     content: "";
    //     display: block;
    //     height: 3px;
    //     width: 50px;
    //     background: var(--body-text-color);
    //     margin-bottom: 20px;
    // }

    .copyright {
        margin-bottom: 5px;
        a:first-child {
            text-decoration: underline;
        }
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.2rem;

        a {
            color: var(--body-text-color);
        }
    }
}
