$defaultTagBackgrounds: #c3f0b4cc, #eba4afde, #aaf3f3de, #e4c5728c, #a4a2fa96;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
  @include respond(md) {
    --main-top-padding: 35px;
  }

  @include respond(xl) {
    --main-top-padding: 40px;
  }

  --menu-bottom-padding: 20px;

  --body-background: #eff5f6;

  --article-background: #ffffff8f;

  --quote-color: rgb(186, 203, 209);
  --social-media-color: rgb(35, 174, 182);
  --menu-color: rgba(181, 221, 227, 0.875);
  --menu-accent: rgb(197, 222, 230);
  --menu-accent-light: rgb(223, 240, 245);
  --site-name-color: rgba(255, 255, 255, 0.903);
  --site-name-accent: white;
  --site-description-color: rgb(167, 204, 209);
  --accent-color: #073333ab;
  --accent-color-darker: #2c4e50;
  --accent-color-text: rgb(255, 255, 255);
  --body-text-color: #a0c0c0c4;

  --tag-border-radius: 1px;

  --section-separation: 20px;
  --container-separation: 15px;
  --widget-separation: 20px;

  --scrollbar-thumb: hsla(180, 29%, 84%, 0.603);
  --scrollbar-track: var(--body-background);

  &[data-scheme="dark"] {
    --body-background: #6b4949;
    --accent-color: #ecf0f1;
    --accent-color-darker: #c7bebd;
    --accent-color-text: #000;
    --body-text-color: rgba(255, 255, 255, 0.7);
    --scrollbar-thumb: hsl(0, 0%, 40%);
    --scrollbar-track: var(--body-background);
  }
}

/**
*   Global font family
*/
:root {
  --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans",
    "Helvetica Neue";
  --zh-font-family: "Noto Serif SC", "Hiragino Sans GB", "Droid Sans Fallback",
    "Microsoft YaHei";
  --base-font-family: "Noto Serif SC", var(--sys-font-family),
    var(--zh-font-family), sans-serif;
  --code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
*   Card style
*/
:root {
  --left-sidebar-background: #185064;
  --list-background: rgba(215, 233, 235, 0.745);
  --search-background: #f1feff;
  --card-background: #ffffff00;
  --card-background-selected: #eaeaea;

  --card-text-color-main: rgb(74, 118, 133);
  --card-text-color-secondary: #4b7177;
  --card-text-color-tertiary: #bababa;
  --card-separator-color: rgba(218, 218, 218, 0.5);

  --card-border-radius: 4px;

  --card-padding: 15px;

  @include respond(md) {
    --card-padding: 15px;
  }

  @include respond(xl) {
    --card-padding: 20px;
  }

  --small-card-padding: 25px 20px;

  @include respond(md) {
    --small-card-padding: 25px;
  }

  &[data-scheme="dark"] {
    --card-background: #424242;
    --card-background-selected: rgba(253, 228, 228, 0.16);
    --card-text-color-main: rgba(255, 255, 255, 0.9);
    --card-text-color-secondary: rgba(255, 255, 255, 0.7);
    --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
    --card-separator-color: rgba(255, 255, 255, 0.12);
  }
}

/**
*   Article content font settings
*/
:root {
  --article-font-family: var(--base-font-family);
  --article-font-size: 1.6rem;
  --article-abstract-size: 1.65rem;

  @include respond(md) {
    --article-font-size: 1.65rem; //字号
  }

  --article-line-height: 2.5; //行距
}

/*
*   Article content style
*/
:root {
  --blockquote-border-size: 0px;
  --blockquote-background-color: rgb(239, 242, 242);

  --heading-border-size: 5px;

  --link-background-color: 174, 235, 238;
  --link-background-opacity: 0.5;
  --link-background-opacity-hover: 0.7;

  --pre-background-color: #272822;
  --pre-text-color: #f8f8f2;

  --code-background-color: #e0e6c788;
  --code-text-color: #808080;

  --table-border-color: #dadada;
  --tr-even-background-color: #e1dbc82e;

  &[data-scheme="dark"] {
    --code-background-color: #5f6157;
    --code-text-color: rgba(255, 255, 255, 0.9);

    --table-border-color: #717171;
    --tr-even-background-color: #545454;

    --blockquote-background-color: rgb(75, 75, 75);
  }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
  --shadow-l1: 0px 4px 8px rgba(72, 120, 124, 0.096),
    0px 0px 2px rgba(194, 43, 43, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l2: 0px 10px 20px rgba(209, 213, 213, 0.712),
    0px 2px 6px rgba(88, 206, 235, 0.096), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l3: 0px 10px 8px rgba(75, 182, 206, 0.04),
    0px 2px 6px rgba(207, 58, 58, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.04);
  --shadow-l4: 0px 24px 32px rgba(163, 85, 85, 0.04),
    0px 16px 24px rgba(170, 63, 63, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l5: 0 2px 10px rgba(21, 44, 52, 0.489);
}

[data-scheme="light"] {
  --pre-text-color: #b1a854;
  --pre-background-color: #e1dbc82e;
  @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
  --pre-text-color: #f8f8f2;
  --pre-background-color: #5f6157;
  @import "partials/highlight/dark.scss";
}
