{{ define "main"}}

        {{/*  {{ $taxonomyObject := $.Site.Taxonomies.categories }}  */}}
        {{ $taxonomyObject := $.Site.Taxonomies.notes }}
        {{/*  <pre>{{ debug.Dump $taxonomyObject }}</pre>  */}}
        {{ $ordered := $taxonomyObject.Alphabetical}}

        <h2 class="section-title">Notes</h2>
        {{ with $ordered }}
            <div class="article-list--tile">
                <section>
                    {{ range .}}
                        {{/*  {{ partial "partials/article-list/note-list" .}}  */}}
                        {{ $title := .Page.LinkTitle | plainify}}
                        {{ $titleL := strings.ToLower $title }}
                        {{/*  <a href="{{ .Page.RelPermalink }}">  */}}
                            
                        <a href="../{{$titleL}}">
                            <article>
                            <h2>
                                {{ $title }}({{ $taxonomyObject.Count $titleL }})
                            </h2>
                            </article>
                        </a>
                    {{ end }}
                </section>
            </div>
        {{ end }}
{{ end }}

{{ define "left-sidebar" }}
    <div id="article-toolbar">
        <a href="{{ .Site.BaseURL }}" class="back-home">
            {{ (resources.Get "icons/back.svg").Content | safeHTML }}
            <span>{{ T "article.back" }}</span>
        </a>
    </div>
    {{ partial "sidebar/left.html" . }}
{{ end }}


