{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Section" "post" }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{/* 注释了所有和分页相关的代码，首页展示不需要分页  */}}
    {{/*  {{ $pag := .Paginate ($filtered) }}  */}}

    <section class="article-list">
        {{/*  {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}  */}}
        {{ range $filtered }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{/*  {{- partial "pagination.html" . -}}  */}}
{{ end }}

{{/*  {{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}  */}}