<div class="article-details">
    {{ if .Params.categories }}
    {{/*  这个分类标签的颜色变化饱和度太高了  */}}
    {{/*  <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" 
            {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>  */}}
    {{/*  感觉article list区域太多东西太杂了，还是删掉分类标签比较好，单独的article模块再用这段代码*/}}
    {{/*  <header class="article-category-custom">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" 
            {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>  */}}
    {{ end }}

    <h2 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>

    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}

    {{ if or (not .Date.IsZero) (.Site.Params.article.readingTime) }}
    <footer class="article-time">
        {{ if not .Date.IsZero }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
        {{ end }}

        {{ if .Site.Params.article.readingTime }}
            <div>
                {{ partial "helper/icon" "keyboard" }}
                <time class="article-words">
                    {{ .WordCount }}字
                </time>
            </div>
        {{ end }}
    {{ end }}
         
    {{/*  {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}  */}}
    {{ partial "article/components/tags" . }}

    </footer>

</div>